<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Gravedad API a Densidad Específica </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<h1>Conversión de Gravedad API a Densidad Específica</h1>
 
  <div>
    <form action="{{ url_for('predict')}}"method="post">
      <ul>
        <li><input type="text" name="interview_score3" placeholder="Ingrese la gravedad API  " required="required" /></li>
        <li><button type="submit" >Convertir</button></li>
      </ul>
    </form>
  </div>
  
  
  <h3> 
    {{prediction_text}}
  </h3>


</body>
</html>
